/* ウインドウ幅が767pxまでの場合 */
@media screen and (max-width: 767px) {

    .header {
        width: 250px;
    }

    .right {
        width: 100px;
    }

    .footer {
        width: 250px;
    }

}

/*ウインドウ幅が479pxまでの場合*/
@media screen and (max-width: 479px) {

    .header {
        width: 150px;
    }

    .left {
        float: none; /* floatの解除 */
    }

    .right {
        float: none; /* floatの解除 */
        width: 150px;
    }

    .footer {
        width: 150px;
    }
}